# Atlas Mongodb
# MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=ServerlessInstance0
# MONGO_DB_NAME=attendances

## Local Mongodb
MONGO_URL=mongodb://localhost:27017
MONGODB_USERNAME=your-mongodb-username-here
MONGODB_PASSWORD=your-mongodb-password-here

## Netlify Mongodb
# MONGO_URL=mongodb://localhost:27017
# MONGODB_PASSWORD=your-mongodb-password-here
# MONGODB_USERNAME=your-mongodb-username-here

## Access code
ACCESS_CODE=your-access-code-here

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your-clerk-publishable-key-here
CLERK_SECRET_KEY=your-clerk-secret-key-here

# Google
GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here

# Next Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-here
